$posterWidth: 250px;

.row {
  &__posters {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px 20px 36px 20px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__poster {
    width: 100%;
    object-fit: contain;
    max-height: 250px;
    width: $posterWidth;
    transition: transform 450ms;
    margin-right: 15px;

    border-radius: 5px;

    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      transform: scale(1.08);
      cursor: pointer;
    }

    &__title {
      width: $posterWidth;
      text-align: center;
      font-weight: bold;
      font-size: 24px;
      color: white;
    }

    &.featured {
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.no-poster {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
